.Top-bannar {
    background:
        linear-gradient(to right, rgba(9, 6, 31, 0.937), rgba(11, 18, 116, 0.594), transparent),
        url('../Assets/banner-image.png');
    background-size: cover;
    background-position: center;
    height: 500px;
    position: relative;
}
.top-bannar-text{
    position: absolute;
    margin-top: -350px;
    width: 500px;
    position: center;
    margin-left: 13%;  
    color: white;  
}
.icon{
    position: absolute;
}
.text{
    position: relative;
}
.category-btn.active {
  background-color: blue;
  color: white;
  border-color: blue;
}